@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  background-color: #0e0e11;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  padding: 10px 0px;
}

header .container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header .container .logo {
  width: 10%;
}

header .container .nav {
  width: 60%;
  display: flex;
  justify-content: center;
}

header .container .nav li {
  list-style: none;
  padding: 0px 24px;
}

header .container .nav li a {
  text-decoration: none;
  width: 72px;
  height: 22px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

header .container .estimate {
  width: 30%;
  display: flex;
  justify-content: center;
}

header .container .estimate a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 50px;
  background: #ce8578;
  border-radius: 30px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #0e0e11;
}

/* Contact Us START */
.contact-us {
  height: auto;
  background-color: #ffffff;
}

.contact-us .container {
  width: 85%;
  margin: 0 auto;
}

.contact-us .container .row {
  padding: 50px 0px;
  display: flex;
  column-gap: 30px;
}

.contact-us .row .col {
  flex-basis: 50%;
}

.contact-us .row .col:first-child h1 {
  width: 318px;
  height: 172px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 92px;
  color: #0e0e11;
}

.contact-us .row .col:first-child p {
  width: 565px;
  height: 34px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #0e0e11;
  margin: 50px 0px;
}

.contact-us .row .col:last-child img {
  width: 100%;
  height: auto;
}

.contact-us .row .col:first-child form label:first-child {
  display: block;
  width: 116px;
  height: 14px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0e0e11;
}

.contact-us .row .col:first-child form label {
  display: block;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0e0e11;
}

.contact-us .row .col:first-child form input {
  padding: 15px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 17, 0.15);
  margin-bottom: 20px;
}

.contact-us .row .col:first-child form textarea {
  padding: 15px 0px;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(14, 14, 17, 0.15);
  margin-bottom: 20px;
  resize: none;
}

.contact-us .row .col:first-child button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 50px;
  background: #ce8578;
  border-radius: 30px;
  border: none;
}

.contact-us .row .col:first-child button a {
  text-decoration: none;
  height: 22px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #0e0e11;
}
